@import "partials/_mixins";

// ==================================================================
// Base Styling / Bootstrap overrides
//
// Style sheet uses BEM naming convention where applicable. 
// https://css-tricks.com/bem-101/
// ==================================================================

html {
  font-size: 16px; // Use browser standard.
  .box-sizing(border-box); // Paul Irish FTW: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
}

*, *:before, *:after {
  .box-sizing(inherit);
}

body {
  color: @text;  
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  min-width: 19em;
  overflow-x: hidden;
}

// Typography ===============================================

h1, h2, h3, h4, h5, h6, span, strong, p {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h5, h6 {
  font-weight: 700;
}

// Customizing bootstrap loadout for ems instead of pixel messed up headline hierarchy, resetting it.
h1 {
  // BriteCore-esque headline treatment
  font-size: 2.7em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

// Forms ======================================================

label {
  margin-bottom: 1.4em;
  font-weight: 600;
  font-size: .9em; // Label and input text seemed too similar.
  width: 100%;
}

input, .form-control {
  font-weight: normal;
  color: #383838;
}

.form-control {
  height: 2.3em;
  margin-top: .3em;

  &:focus {
    // This trailing ';' allows multiple declarations to be passed.
    .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @grey;);
    
    border-color: softlight(@grey, @text);
  }
}

textarea.form-control {
  height: 8em;
  resize: vertical;
}

.form {
  max-width: 23em;
  margin: 1em 0;
}

.form__note {
  font-size: .9em;
  font-weight: 500;
  color: @darkgrey; 
}

// Links and Buttons ==================================================

a {
  text-decoration: none;
  color: inherit;
  
  &:visited, &:hover {
    text-decoration: none;
  }
  
  &:active {
    text-decoration: none;
  }
}

// If this was applied to all links, some buttons and header elements would have to be overridden.
.text-link {
  .transition(color 150ms ease, border-color 150ms ease;);

  border-bottom: 1px dotted rgba(252, 79, 82, 0);
  color: @primary;

  &:visited, &:hover {
    color: @secondary;
    border-color: rgba(252, 79, 82, .5);
  }

  &:active {
    color: lighten(@secondary, 5%); 
  }
}

.btn.active:focus {
  outline: 0;
}

.btn {
  white-space: normal;
}

.btn.btn-primary {
  .transition(background-color 120ms @swift-out);

  &:hover, &:focus, &:focus:active {
    background-color: @secondary;
  }

  &:active {
    background-color: lighten(@secondary, 5%);
  }
}

// ==================================================================
// Header
// ==================================================================

header {
  .box-shadow(0 2px 8px -4px #ccc);
  
  border-bottom: 1px solid @grey;
  margin-bottom: 1.2em;
  padding: 0 1em;
}

.logo {
  border: 0;
}

.logo__image {
  display: block;
  margin: 0 0 .25em 0.05em; // '.05' aligns it with tagline.
  max-width: 12em;
  width: 100%;
}

.logo__tagline {
  display: inline-block;
  font-size: .9em;
  margin: 0 0 .85em 0;
}

// ==================================================================
// Navigation
// ==================================================================

.btn-group, .add-contact {
  font-size: .78em; // Fit on one line at smallest resolution.
}

.btn-group {
  margin-bottom: .8em;
}

.add-contact {
  float: right;
  margin-top: .8em;
}

nav[role="navigation"] {
  
  .btn-group {
    .flex-display(flex);
  }

  .btn {
    .flex-grow(1);
    .transition(background-color 120ms @swift-out, color 120ms @swift-out;);
  }

  .btn:active {
    background-color: lighten(@accent, 10%);
    color: #fff;
  }

  .btn-default.active {
    background-color: @accent;
    color: #fff;
  }
}

.btn-default:hover {
  background-color: #EEE;
}

.btn-primary {
  background-color: @accent;
}

// ==================================================================
// Contacts
// ==================================================================

.contact__header {
  // Creates a subtle 'sunken' look for each contact header.
  .box-shadow(inset 0 1px 3px -1px rgba(120, 120, 120, 0.5), inset 0 -2px 5px -3px rgba(120, 120, 120, 0.5););
  
  background-color: #f7f7f7;
  color: @darkgrey;
  display: block;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 -1em;
  padding: .2em .9em;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin-top: 1em;
}

.contact {
  .clearfix();

  padding: 0.8em 1em;
  margin: 0 -1em;

  &:first-child { 
    border: 0;
  }

  & + .contact {
    // Keeps border from applying to the bottom edge of the letter headers.
    border-top: 1px solid #eee;
  } 
}

.contact__image {
  float: left;
  width: 3em;
  height: 3em;
  margin-right: 1em;
  border-radius: 0.8em;
}

.contact__name {
  font-size: 1.33em;
  color: @primary;
  margin: 0;
}

.contact__description {
  font-size: 1em;
  color: #787878;
  margin: .25em 0 0 0;

  span {
    color: inherit;
  }
}