<section class="contact" data-bind="foreach: contact">
  <div>
    <figure>
      <img class="contact__image" data-bind="attr:{alt: fullName}, gravatar: { credential: email, rating: 'pg', defaultImage: 'mm' }" />  
      <figcaption class="contact__name">
        <h1 class="contact__name__text" data-bind="text: fullName"></h1>
      </figcaption>
    </figure>  

    <h5 class="contact__subheader" data-bind="if: position">Title &amp; Company</h5>
      <span class="contact__information" data-bind="text: position"></span>,
      <span class="contact__information" data-bind="text: company"></span>
    </h2>

    <h5 class="contact__subheader" data-bind="if: email">Email Address</h5>
    <a class="contact__information" title="Email them" data-bind="text: email, attr:{href: emailLink}"></a>

    <h5 class="contact__subheader" data-bind="if: phone">Phone</h5>
    <a class="contact__information" title="Call them" data-bind="text: phone, attr:{href: phoneLink}"></a>
    
    <h5 class="contact__subheader" data-bind="if: address">Address</h5>
    <a class="contact__information" title="Map this address" data-bind="attr:{href: addressLink}">
      <span data-bind="text: address"></span>
      <span class="contact__location"><span class="contact__city" data-bind="text: city"></span><span data-bind="text: state"></span></span>
    </a>

    <h5 class="contact__subheader" data-bind="if: reminders">Reminders</h5>
    <ul data-bind="foreach: reminders">
      <li class="contact__information">
        <p data-bind="text: reminderNote"></p>
        <small>Reminder set for <span data-bind="text: reminderDate"></span></small>
      </li>
    </ul>
  </div>
  <div>
    <h5 class="contact__subheader" data-bind="if: notes">Background Notes</h5>
    <p class="contact__information" data-bind="text: notes"></p>

    <h5 class="contact__subheader" data-bind="if: tags">Tags</h5>
    <span class="add-tag-form__trigger form__note">Add a new tag</span>
    <form class="add-tag-form" data-bind="submit: addTag">
      <label for="add-tag" class="sr-only">Add a tag</label>
      <div class="input-group">
        <input name="add-tag" class="form-control" data-bind="textInput: addTagLabel"/>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Add</button>
        </span>
      </div>
    </form>

    <ul data-bind="foreach: tags">
      <li>
        <button class="tag btn btn-default btn-secondary">
          <span data-bind="text: tagLabel"></span>
          <input type="hidden" data-bind="value: id">
          <i class="tag__close fa fa-close" data-bind="click: $parent.removeTag"></i>
        </button>
      </li>
    </ul>
  </div>
</section>