<h1 class="contact-list__head" data-bind="text: listHeader, css: listHeaderClass"></h1>
<ul id="contactList" class="contact-list" data-bind="foreach: contacts">
  <li class="contact-list__item clearfix" data-bind="attr:{'data-initial-letter': initial_letter}">
      <a data-bind="attr:{href: link, title: fullName}">
        <figure>
          <img class="contact-list__image" data-bind="attr:{alt: fullName}, gravatar: { credential: email, rating: 'pg', defaultImage: 'mm' }"/>
          <figcaption class="contact-list__text">
            <h3 class="contact-list__name" data-bind="text: fullName"></h3>
            <p class="contact-list__description">
              <span data-bind="text: position"></span>,
              <span data-bind="text: company"></span>
            </p>
          </figcaption>
        </figure>
      </a>
  </li>
</ul>